.estudio
{
    background-color: rgb(247, 216, 183);
    height: 500px;
    width:100%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
   
    
}
.espaço
{
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: right;
   align-items: center;
   gap: 20px;
    
}
.nosso
{
    font-size: 50px;
    letter-spacing: 3px;
}
p{
    font-size: 17px;
}
